<!doctype html>
<html class="no-js" lang="de" id="ablauf">
	<head>
    {{> meta }}
    {{> styles }}
	</head>
	<body>
	{{> header ablauf=true}}
    {{> content }}
    {{> footer }}
    {{> scripts }}
	</body>
</html>
