body {
	font: 18px/1.3 arial, verdana, sans-serif;
	margin: 0;
}

a {
	text-decoration: none;
	color: #532F2F;

	&:hover {
		text-decoration: underline;
	}
}

figure {
	margin: 0;

	max-width: 768px;

	img {
		width: 100%;
	}
}

main > article,
aside {
}

main {
	max-width: 1200px;
	margin: 40px auto 0;	
}
