$primaryColor: #1b578f;
$secondaryColor: #a7d2fc;

#ablauf {
    header {
        @media (min-width: 768px) {
    		background: $primaryColor ;
        }

        .hamburger .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
        		background-color: $primaryColor ;
        }

        .stage {
    		@media (min-width: 768px) {
    			&::after {
    				background: $primaryColor ;
                }
            }
        }
    }

    a {
    	color: $primaryColor;
    }

    .logo {
		color: $primaryColor;

		@media (min-width: 768px) {
			color: white;
		}
    }

    .navigation ul li {
        a svg {
            fill: $primaryColor;

            @media (min-width: 768px) {
                fill: #fff;
            }
        }

        @media (min-width: 768px) {
            a {
                color: #fff;
            }

            &.selected a {
                color: $secondaryColor;

                svg {
                    fill: $secondaryColor;
                }
            }
        }
    }
}
